[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.org/simple"

[requires]
python_version = "3.6"

[packages]
pycrypto = "*"

[dev-packages]
black = "*"

[pipenv]
allow_prereleases = true
